@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: "Roboto", sans-serif;
}

#login{
  width:304px;
  height:390px;
  padding:28px 38px;
  border:1px solid #000;
  margin:100px auto;
}

#login button{
  width:228px;
  height:44px;
  border:1px solid #000;
  font-weight: bold;
  background-color: white;
}

#login input{
  width: 228px;
  height: 44px;
  padding: 0 10px;
  margin-bottom: 21px;
  background-color: #eaeaea;
}


#login a{
  text-decoration:none;
  color:#2c3432;
  font-size:14px;
  text-align:center;
  display:block;
}

#login button[type="submit"]{     /* 복습하기 : 왜 login button[type="submit"]이 되는가 */
  background-color:#373f3c ;
  color:white;
  margin-bottom:27px;
  font-weight:normal;
}

#login > fieldset + p {   /* 코드 이해 필요함 */
  margin:24px 0;
  font-size:16px;
  font-weight:bold;
  text-align:center;
}

#login fieldset{
  border:none;
}

#login fieldset legend{
  position:absolute;
  top:-99999px;;
}

/* 위 두개 어떻게 된 건지 코드 복습 (해설 참조) */